.Footer {
  padding-block: 30px;
  padding-block: 20px;
  background: #13131b;
  color: white;
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;

  .logo {
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: 500px;
    padding-right: 15px;

    h1 {
      font-size: clamp(1.563rem, 1.458rem + 0.52vw, 1.875rem);
    }

    .icon_movie {
      font-size: 45px;
      color: #e43f5a;
    }
  }
  h1 {
    font-size: clamp(1.063rem, 0.896rem + 0.83vw, 1.563rem);
  }
  p {
    font-size: clamp(0.75rem, 0.625rem + 0.63vw, 1.125rem);
  }
  .icons {
    display: flex;
    gap: 15px;
    font-size: clamp(1.063rem, 0.896rem + 0.83vw, 1.563rem);
  }
}
.mini_footer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 5px;
  .line {
    letter-spacing: 5px;
  }
  p {
    font-size: clamp(0.5rem, 0.354rem + 0.73vw, 0.938rem);
  }
}
@media (max-width: 900px) {
  .content {
    gap: 18px;
  }
  .mini_footer {
    .line {
      letter-spacing: 4px;
    }
  }
}
@media (max-width: 900px) {
  .mini_footer {
    .line {
      letter-spacing: 2px;
    }
  }
}
